.Entete {
    position: sticky;
    top: 0px;
    height: 60px;
    margin: 0;
    padding: 20px;
    font-size: 1.2em;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;

    ul {
        margin: 10px 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        font-size: 0.8em;

        li {
            cursor: pointer;

            &:not(:last-of-type) {
                padding-right: 15px;
                border-right: 1px solid white;
            }
    
            &:not(:first-of-type) {
                padding-left: 15px;
            }
        }

        &.navPrincipale {
            margin-left: 50px;
            margin-right: 20px;
        }

        &.navUtilisateur {
            margin-left: auto;
        }
    }
}